<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
      </ion-buttons>
      <ion-buttons *ngIf="tutor" slot="end">
        <ion-button (click)="openContact(tutor)">
          <ion-icon slot="icon-only" ios="call-outline" md="call-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="openSpeakerShare(tutor)">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">
    <img [src]="tutor?.profilePic" [alt]="tutor?.name">
    <h2>{{tutor?.name}}</h2>
  </div>
  <div class="ion-padding speaker-links">
    <ion-chip *ngIf="tutor?.twitter" color="twitter" button
      (click)="openExternalUrl('https://twitter.com/' + tutor.twitter)">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-chip>

    <ion-chip *ngIf="tutor?.github" color="dark" button (click)="openExternalUrl('https://github.com/' + tutor.github)">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>GitHub</ion-label>
    </ion-chip>

    <ion-chip *ngIf="tutor?.instagram" color="instagram" button
      (click)="openExternalUrl('https://instagram.com/' + tutor.instagram)">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-chip>
  </div>
  <hr>
  <div class="ion-padding speaker-detail">
    <p>{{tutor?.description}}</p>
  </div>

</ion-content>