<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tutors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tutors</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let tutor of tutors">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item"
              routerLink="/app/tabs/speakers/speaker-details/{{tutor.id}}">
              <ion-avatar slot="start"> 
                <img [src]="tutor.profilePic" [alt]="tutor.name + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{tutor.name}}</h2>
                <p>{{tutor.title}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item *ngFor="let proposal of tutor.proposals" detail="false"
                routerLink="/app/tabs/speakers/session/{{proposal.id}}">
                <ion-label>
                  <h3>{{proposal.title}}</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
